html {
	font-size: 100%;
}
body {
	color: #C2C2C0;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2 {
    font-size: 2.125em;
	color: #333;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 16px;
	text-transform: uppercase;
}
h3 {
    font-size: 1.5em;
	color: #333;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 16px;
	text-transform: uppercase;
}


ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.divider {
    background-color: #E5E5E5;
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.dividerLine {
	border: 1px dotted #ddd;
	margin: 20px 0;
}
#intro-nav-menu .dropdown-menu {
	background-color: #3B3B3B;
}
#intro-nav-menu .dropdown-menu > li > a {
    color: #fff;
}
#intro-nav-menu .dropdown-menu > li > a:hover {
    color: #fff;
	background-color: #428BCA;
}
#intro-nav-menu.nav .open > a, #intro-nav-menu.nav .open > a:hover, #intro-nav-menu.nav .open > a:focus {
    background-color: #428BCA;
    border-color: #428BCA;
}
.navbar {
	background-color: rgba(10, 10, 10, 0.8);
	border-top: none;
	border-bottom: 1px solid #ddd;
    position: relative;
}
#intro-nav-menu .navbar-nav > li > a {
	color: #fff;	
	font-size: 15px;
    display: block;
	padding: 0 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;
}
.navbar-nav > li > a {
	color: #ffffff !important;
    display: inline-block;
	padding: 0 18px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	line-height: 70px;
	text-transform: uppercase;

.navbar-nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #428bca !important;
}

}
#intro-nav-menu .navbar-nav > li > a:hover {
	background-color: #428bca !important;
}
#intro-nav-menu .navbar-nav > li > a:focus {
	background-color: #428bca;
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
	margin: 10px 45px 10px 0;
    background-color: none;
	border: 2px solid #fff;
}
.navbar-toggle .icon-bar {
	background-color: #fff;
	height: 2px;
}
.navbar-toggle.black {
    position: relative;
    float: right;
    padding: 10px;
	margin: 16px 45px 0 0;
    background-color: none;
	border: 2px solid #666;
}
.navbar-toggle.black .icon-bar {
	background-color: #666;
	height: 2px;
}
.language {
	position: relative;
}
.language .flag {
	position: fixed;
	top: 23px;
	right: 30px;
}
.language ul li  {
	float: left;
	margin-left: 10px;
}


.introContent {
    color: #FFFFFF;
    margin-bottom: -55px;
    margin-top: 100px;
}
#intro_slogan h1 {	
	font-size: 2.725em;
	font-weight: 700; 
	text-transform: uppercase; 
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
	margin-bottom: 10px; 
}
#intro_slogan h2 {	
	font-size: 1.725em;
	color: #FFF;
	font-weight: 700; 
	text-transform: uppercase; 
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
	margin-bottom: 5px; 
	margin-top: 0;
}
#intro_slogan h4 {
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px black, 0 2px 2px #333;
	margin-top: 0; 
}
#intro_form {
	margin-top: 20px;
	margin-bottom: 50px;
}
/*-------- FormRegister --------*/
.form_register {	
	background-color: rgba(10, 10, 10, 0.8);
	border-top: 1px solid #666;
	-webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	padding: 20px 30px 30px;
}

.form_register h4 {
	color: #fff;
    line-height: 30px;
	font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.form_register .form-control, .selective {
	height: 44px;
	margin-bottom: 20px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
	width: 100%;
}
.form-control  {
    font-size: 1.015em;
    line-height: 1.42857;
}
input[type="text"],
input[type="email"],
textarea {
	color: #444;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
#form_register_btn { 
	margin-bottom: 20px;
}
#form_register_btn .btn {
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 65px;

    /*visibility: hidden;*/
}
.sign-in-terms p {
	margin-bottom: 2px;
}
.sign-in-bar p {
	font-weight: 700;
}
.sign-in-bar p {
	margin-bottom: 2px;
    margin-top: 3px;
}
.sign-in-terms a {
	color: #fff;	
	font-weight: 700;
	text-decoration: underline; 
}
.sign-in-terms a:hover {
	text-decoration: none; 
}
.sign a  {
	font-size: 2em;
	color: #FFF;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
    margin: 1px;
	text-align:center;
	width: 50px;
	height: 50px;
	padding-top: 13px;
}
.sign ul li{
    margin-left: 3%;
}

.sign ul li  a.facebook:hover{
    color: #3B5998;
    background: none repeat scroll 0 0 #fff;
}
.sign  .facebook {
    background: none repeat scroll 0 0 #3B5998;
}
.sign  .facebook:hover {
	color: #3B5998; 
    background: none repeat scroll 0 0 #fff;
}
.sign .twitter {
     background: none repeat scroll 0 0 #04ADDE;
}
.sign .twitter:hover {
	color: #04ADDE; 
    background: none repeat scroll 0 0 #fff;
}
.sign .vkontakte {
    background: none repeat scroll 0 0 #5C82AB;
}
.sign .vkontakte:hover {
	color: #5C82AB; 
    background: none repeat scroll 0 0 #fff;
}

/*-------- EndFormRegister --------*/
footer {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
}

footer p {
	color: #333;
	font-size: 15px;
	font-weight: 400;
	margin-bottom: 0;
}


/*---------------- page accounForm + acooundPortfolio --------------------------*/
.userWide {
	color: #FFF;
	/*margin-top: -20px;*/
	background-color: #64A9DD;
	padding:2px 17%;
    margin-top: -20px;
}
.breadcrumb {
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 0;
    padding: 8px 15px;
}
.userHeader h2 {
	color: #333333;
    font-size: 1.725em;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 30px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.userPic img {
	border: 1px solid #ddd;
	width: 150px;
}
.userPic {
	text-align: right;
	margin-top: 25px;
	margin-bottom: 15px;
	/*height: 150px;*/
	overflow: hidden;
}
.userPhoto {
	width: 140px;
	margin-top: 20px;
	margin-bottom: 20px;
	height: 111px;
	overflow: hidden;
	padding: 0 10px;
}
.userPicText {
	margin-top: 92px;
}
.userPicText p {
	font-size: 0.875em;
	line-height: 130%;
}
.rt {
	margin-top: 39px;
}
.rttext a i:hover {
	color: #333;
}
.rttext a i {
	font-size: 0.925em;
	color: #FFF;
	cursor: pointer;
}
.rtcount {
	font-size: 3em;
	line-height: 100%;
}
.statusBar {
	margin-top: 26px;
}
.statusBar ul li {
	border-bottom: 1px solid #CCC;
	margin-bottom: 13px;
}
.statusBar ul li a {
	color: #FFF;
}
.statusBar ul li a:hover {
	text-decoration: none;
	color: #036;
}
.statusBarCount {
	float: right;
}
.statusBar ul li i {
	font-size: 0.85em;
}
.btnSav {
	margin-top: 30px;
}
.btnSav .btn, .btnControl .btn, .btnAddRemove .btn, .modalClose .btn, .viewInSite .btn {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.btnAddRemove  .btn {
	margin-top: 5px;
	margin-bottom: 13px;
    height: 34px;
}
.viewInSite .btn {
	margin-top: 20px;
}
/*----------------- NavLeft ----------------*/
.userNavleft {
	float: left;
    height: 10px;
    position: relative;
    width: 140px;
	padding-top: 10px;
}
.userNavleft p {
	font-size: 1.25em;
	margin-bottom: 2px;
	text-decoration: underline;
}
.userNavleft ul li a {
	color: #428BCA;
    display: block;
    font-size: 1.1725em;
    font-weight: 400;
    line-height: 33px;
    overflow: hidden;
    text-decoration: none;
	-webkit-transition: all 50ms ease-in-out;
	-moz-transition: all 50ms ease-in-out;
	-o-transition: all 50ms ease-in-out;
	-ms-transition: all 50ms ease-in-out;
	transition: all 50ms ease-in-out;
}
.userNavleft ul li a:hover {
	font-weight: 600;
}
.userNavleft .navbar-text {
	text-decoration: none;
}
.mess {
	float: left;
	margin-left: 30px;
}
.mess a {
	font-size: 1.25em;
	margin-left: 7px;
}
.mess span {
	background-color: #64A9DD;
	border-radius: 2px;
	line-height: 1;
	 min-width: 10px;
    padding: 3px 7px 4px 7px;
    text-align: center;
	margin-left: 20px;
    vertical-align: baseline;
    white-space: nowrap;
	color: #4189C7;
	font-size: 14px;
	color: #FFF;
}
/*----------------- EndNavLeft ----------------*/


/*----------------- NavCenter ----------------*/
#mini-nav {
    background-color: rgba(255,255,266,0.7);
    font-weight: bold;
    left: 0;
    text-align: center;
    width: 100%;
	z-index:999999;
}
#mini-nav ul {
    border: 0 none;
    padding: 0 0 10px;
    width: 100%;
}
#mini-nav ul li {
    list-style-image: none;
	z-index:999999;
}
#mini-nav ul li:first-child {
	cursor: pointer;
}
#mini-nav .dropdown {
	background-color: rgba(255, 255, 255, 1);
	color: #333;
	font-size: 1.25em;
	padding: 10px 0;
}
#mini-nav .dropdown a {
	color: #333;
}
#mini-nav .dropdown-menu {
    background-color: rgba(255, 255, 255, 0.8);
    border: 0 none;
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
    list-style: none outside none;
    margin: 0;
}
#mini-nav .dropdown-menu li a:hover,
#mini-nav .dropdown-menu li a:focus {
	color:#FFF;
	background-color: #64A9DD;
}
/*----------------- EndNavCenter ----------------*/

/*----------------- ModalWindow ----------------*/
#modal_form {
    width: 300px;
    height: 300px;
    background: #3B3B3B;
    position: fixed; 
    left: 50%; 
    margin-left: -150px; 
    display: none;
    opacity: 0;
    z-index: 5;
    padding: 25px;
	box-shadow: 0 0 30px #000000;
    margin-top: 0 !important;
    top: 110px !important;
}
#overlay {
    z-index: 3;
    position: fixed;
    background-color: #000;
    opacity: 0.01;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
    display: none;
}
.ratingsExplained h4 {
	margin-top: 0;
	margin-bottom: 15px;
}
.ratingsExplained ul li {
	margin-bottom: 10px;
	border-bottom: 0,2px solid #858585;
}
.ratingsExplained ul li .statusBarCount {
	font-weight: 900;
	color: #79BEF2;
}
.modalClose {
	margin-top: 20px;
}
/*----------------- EndModalWindow ----------------*/

/*-------- AccoundRegister --------*/
.accoundNameSection {
	padding-top: 50px;
}
.accound_register {	
	padding: 20px 30px 30px;	
}
.accoundForm_1 {
	border: 2px solid #ddd; 
}
.firstColum {
	width: 70px;
}
.accound_register h3 {
	color: #428BCA;
	font-weight: 400;
	margin-top: 5px;
}
.accound_register label {
	font-size: 1.125em;
    cursor: pointer;
	font-weight: 500;
}
.accound_register .form-control {
	height: 35px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.accound_register .comment {
	height: 78px;
	margin-bottom: 15px;
	border: 1px solid #ddd;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.form-control:focus {
	border-color: #66AFE9;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #fff;
    cursor: not-allowed;
    opacity: 1;
}
.siteName {
	margin-bottom: 20px;
}
.input-group .form-control {
	height: 35px;
	margin-bottom: 0;
}
.input-group-addon {
    background-color: #fff;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #555555;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
select[type="text"],
textarea {
	padding-top: 8px;
	color: #444;
	line-height: 100%;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
}
.formGray {
	background-color: #f9f9f9;
	padding: 15px;
	margin-bottom: 15px;
}

/*----------- checkbox ------------*/
.input_styled.inline .rowCheckbox, .input_styled.inline .rowRadio, .input_styled.inline span {
    display: inline-block;
	margin-top: 10px;
	margin-bottom: 5px;
	
}
.custom-checkbox {position:relative;}
.custom-checkbox label::selection, .custom-radio label::selection {background: transparent; color: inherit;}
.custom-checkbox input {position: absolute; top: 0; left: 10px; margin:0; border:none; width: 1px; height: 1px; display: none;}
.ie8 .custom-checkbox input {display:block;}
.custom-checkbox label.focus {outline: none;}

.custom-checkbox label {
    display: block;
    position: relative;
    line-height: 22px;
    padding-left: 17px;
    cursor: pointer;
    min-height: 22px;
}
.custom-checkbox label {line-height: 20px; min-height: 20px;}

.custom-checkbox label:before,
.custom-checkbox label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.custom-checkbox label:before {
    width: 22px;
    height: 22px;
    background: #70B6E0;
    -webkit-box-shadow: inset 1px 1px 4px rgba(0,0,0,0.48);
    box-shadow: inset 1px 1px 4px rgba(0,0,0,0.48);
    border-radius: 50%;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
.custom-checkbox label:before {
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.custom-checkbox label.checked:before {
    background: #acce4c;
    -webkit-box-shadow: inset 1px 2px 3px #6e8630;
    box-shadow: inset 1px 2px 3px #6e8630;
}
.custom-checkbox label:after {
	font-family: FontAwesome; /*------- путь к галочке применить -----------*/
    font-size: 12px;
    line-height: 18px;
    color: #f8ffe5;
    text-align: center !important;
    text-shadow: 1px 1px 1px #767c67;
    width: 20px;
    height: 20px;
    border-radius: 3px;
}
.custom-checkbox label.checked:after {
	content:"\f00c";
}
.custom-radio label.checked:after {
    width: 10px;
    height: 10px;
    -webkit-box-shadow: 1px 1px 1px #6e803a;
    box-shadow: 1px 1px 1px #6e803a;
    border-radius: 50%;
    background: #f8ffe5;
    top: 6px;
    left: 6px;
}

/* checkboxes, radios Right Align */
.label-right .custom-checkbox label {
    padding-left: 0;
    padding-right: 32px;
    text-align: right;
}
.label-right .custom-checkbox label:before,
.label-right .custom-checkbox label:after {
    left: auto;
    right: 0;
}
.label-right .custom-radio label.checked:after {left: auto; right: 6px;}
/*----------- Endcheckbox ------------*/

.editDate a {
	font-size: 1.525em;
}
.editDate {
	margin-bottom: 12px;
}
.imgPortfolio {
	width: 150px;
}
.tooltip-inner {
	background-color:#65933B;
	z-index: 99999;
}
.tooltip.top .tooltip-arrow {
	border-top-color:#65933B;
	z-index: 99999;
}


/*---------- ratingStar -------------*/
.rating {
    margin-bottom: 30px;
}
.rating span.star {
    background-repeat: no-repeat;
    display: block;
    float: left;
    height: 19px;
    padding-right: 2px;
    width: 19px;
}
.rating span.off {
	background-image: url('/themes/app/img/icons/star-off.png');
}
.rating span.on, .rating span.star:hover, .rating span.over {
	background-image: url('/themes/app/img/icons/star-on.png');
    cursor: pointer;
}
@media not all, only screen and (min-resolution: 144dpi) {
.rating span.off {
	background-image: url('/img/icons/star-off-x2.png');
    background-size: 19px auto;
}
.rating span.on, .rating span.star:hover, .rating span.over {
	background-image: url('/themes/app/img/icons/star-on-x2.png');
    background-size: 19px auto;
}
}
/*---------- EndratingStar -------------*/

.nameGallery .btnAddRemove .btn {
	margin-top: 0;
}
.nameSection ul li {
	font-size: 1.125em;
	padding: 10px;
	background-color: #FFF;
	border: 8px solid #F9F9F9;
}
.nameSection ul li a {
	margin-right: 10px;
}
.nameSection ul li a i {
	font-size: 1.325em;
	padding-right: 10px;
	border-right: 1px solid #999;
}
.nameSection ul li .span {
	text-align: center;
}
.PortfolioImg .imgPrev {
	margin-top: 10px;
	margin-bottom: 2px;
}
.PortfolioImg .input_styled {
	float: left;
	margin-right: 13px;
	margin-left: 20px;
}
.PortfolioImg .editDate {
	float: left;
	margin: 5px 10px 7px 10px;
}
.modal-dialog {
	margin-top: 45px;
}
.modal-header {
	border-bottom: none;
}

/*-------- EndAccoundRegister --------*/

/*---------- messages ----------------*/
.firstLetter {
	background-color: #999;
}
.firstLetter p {
	font-size: 3em;
	font-weight: 700;
	margin: 0;
}
.messages .btn {
	margin-left: 7px;
}
.messagesText {
	padding-left: 0;
	padding-right: 0;
	margin-top: 5px;
}
.messagesText p {
	margin-bottom: 0;
}
.messagesName h3 {
	margin-top: 0;
	margin-bottom: 2px;
}
.messages ul li {
	font-size: 1.125em;
	padding: 10px;
	background-color: #FFF;
}

@media (min-width: 1500px) and (max-width: 1699px) {
	.topNav {
	margin-left: 484px;
    }
}
@media (min-width: 1200px) and (max-width: 1499px) {
	.topNav {
	margin-left: 422px;
    }
	.userWide {
	padding:2px 1% 2px 5%;
    }	
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.topNav {
	margin-left: 254px;
    }
	.userWide {
	padding:2px 1%;
    }	
}
@media (min-width: 980px) and (max-width: 1023px) {
	.topNav {
	margin-left: 77px;
    }	
	.navbar {
    margin-bottom: 0;
    }
	.userWide {
	margin-top: -1px;
    }	
	.userPic {
	text-align: center;
    }	
}
@media (min-width: 768px) and (max-width: 979px) {
	.navbar {
    margin-bottom: 0;
    }
	.userPic {
	text-align: center;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
	.userWide {
		padding-top: 30px;
	}
	.navbar-brand {
		padding: 5px 15px 5px 10px;
	}
	.navbar {
    margin-bottom: 0;
    }
	.navbar-toggle {
    margin: 10px 105px 10px 0;
    }
	.language .flag {
	top: 10px;
	right: 15px;
    }
	.PortfolioWrap, .col-md-3 {
		padding-left: 10%;
        padding-right: 10%;
	}	
}
@media (max-width: 980px) {
	.introContent {
    margin-top: 80px;
   }
   .navbar {
    margin-bottom: 0;
    }		
	#intro_slogan {
	text-align: center;
	}	
	#intro_slogan h1 {
    font-size: 2.7em;
	}
	#intro_slogan h2 { 
	font-size: 2.025em;
	}
	#intro_form { 
	margin-bottom: 55px; 
	}	
	.form_register { 
	width: 66%; margin-left: 0px; 
	}
	.userPic {
	text-align: center;
    }	
	.userPicText {
	text-align: center;
	margin-top: 15px;
    }
    .userPicText p {
	font-size: 0.875em;
	line-height: 130%;
    }
}
@media (max-width: 767px) {
	.introContent {
    margin-top: 80px;
    }	
	.navbar {
    margin-bottom: 0;
    }	
	#intro_slogan {
	text-align: center;
	}	
	#intro_slogan h1 { 
	font-size: 2.325em;
	}
	#intro_slogan h2 { 
	font-size: 1.525em;
	}
	#intro_form { 
	margin-bottom: 60px; 
	}	
	#form_register_btn {
	 margin-bottom: 20px; 
	 padding-left: 15px;
	 }
	#form_register_btn {
    margin-bottom: 20px;
    padding-left: 15px;
	}
}
@media (max-width: 480px) {
	.firstLetter p {
    font-size: 2.25em;
    font-weight: 700;
    margin: 0;
    }
	.messagesText {
		margin-top: 1px;
	}
	.messagesText p {
		margin-bottom: 1px;
	}
	.navbar-toggle {
		margin: 8px 50px 0 0; 
		padding: 7px;
	}
	.navbar-brand {
		width: 100px;
		padding: 5px 15px 5px 10px;
	}
	.navbar-brand img {
		width: 120px;
	}
	.navbar {
    margin-bottom: 0;
    }
	.language .flag {
	top: 5px;
	right: 5px;
    }
	.language ul li {
    float: none;
    }	
	.introContent {
    margin-top: 60px;
    }	
	#intro_slogan h1 { 
	font-size: 1.715em;
	}
	#intro_slogan h2 { 
	font-size: 1.125em;
	}
	#intro_form { 
	margin-bottom: 60px; 
	}
	.form_register { 
	width: 90%; margin-right: 5%; margin-left: 5%;
	}
	#intro_form {
    margin-top: 10px;
   }
}
@media (max-width: 320px) {
	h3 {
		font-size:1.25em;
		line-height: 120%;
		margin-left: -20px;
		text-align: center;
	}
     .navbar-toggle {
		margin: 8px 5px 0 0; 
		padding: 7px;
	}
	.navbar {
    margin-bottom: 0;
    }	
	.navbar-brand {
	padding: 5px 15px 5px 10px;
	}
	#intro_slogan {
	 display: none; 
	 }
	.intro-content {
	margin-top: 32%;
	}
}


.eauth ul li{
    margin-left: 3%;
    text-align: center;
    padding: 2.5%;
    width: 50px;
    height: 50px;
    margin-bottom: 2%;
}

.eauth-service {
    display: inline-block !important;
    font-family: FontAwesome !important;
    font-style: normal !important;
    font-weight: normal !important;
    line-height: 1 !important;

}

.eauth-service-link {
    margin-top: -40px;
    margin-left: -10px;
    font-size: 0em !important;
    width: 50px !important;
    height: 50px !important;
}

.eauth-service-link:before, .eauth-service-link:after{
    background: none !important;
}

/* --- Services --- */

.eauth-service-id-twitter:before{
    font-size: 2em;
    content: "\f099";
}

.eauth-service-id-vkontakte:before{
    font-size: 2em;
    content: "\f189";
}

.eauth-service-id-facebook:before{
    font-size: 2em;
    content: "\f09a";
}

.eauth ul li  a.facebook:hover{
    color: #3B5998;
    background: none repeat scroll 0 0 #fff;
}
.eauth  .eauth-service-id-facebook {
    background: none repeat scroll 0 0 #3B5998;
}
.eauth .eauth-service-id-facebook:hover {
    color: #3B5998;
    background: none repeat scroll 0 0 #fff;
}
.eauth .eauth-service-id-twitter {
    background: none repeat scroll 0 0 #04ADDE;
}
.eauth .eauth-service-id-twitter:hover {
    color: #04ADDE;
    background: none repeat scroll 0 0 #fff;
}
.eauth .eauth-service-id-vkontakte {
    background: none repeat scroll 0 0 #5C82AB;
}
.eauth .eauth-service-id-vkontakte:hover {
    color: #5C82AB;
    background: none repeat scroll 0 0 #fff;
}


.radio, .checkbox {
    width: 50px !important;
}

.swfupload{
    margin-top: 5px;
    margin-bottom: 13px;
    width: 118px;
    height: 34px;
}

.uploadify-button {
    background-color: #3276b1;
    border-color: #285e8e;
    color: #fff;
    text-align: center;
}

/*-------------- PageTemplates -------------*/
.proTemplList {
    margin-bottom: 15px;
}
.thumbnail {
    border-radius: 0;
}
.current .thumbnail {
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(100, 169, 221, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(100, 169, 221, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(100, 169, 221, 0.75);
    border-radius: 5px;
}
.proTemplList ul li {
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
}
.btn-black {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #5F5F5F, #3B3B3B);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-black:hover, .btn-black:focus {
    background-color: #222222;
    color: #ffffff;
    background-position: 0 -15px;
}
.btnWrap .btn-danger {
    background-color: #FF6806;
    color: #ffffff;
    border-color: #FF6806;
}
.btnWrap .btn-danger:hover, .btnWrap .btn-danger:focus {
    background-color: #CD3600;
    color: #ffffff;
    background-position: 0 -15px;
}
.btnWrap .btn {
    border-radius: 0;
    font-size: 0.85em;
    padding: 3px 6px;
}
.btnWrap .btn i {
    margin-right: 5px;
}
.proTemplList .btn {
    border-radius: 0;
    font-size: 1em;
    padding: 1px 5px;
}
.proTemplList .btn-primary:hover {
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
}
.badges {
    position: absolute;
    left: 6px;
    top: -4px;
}
.badg {
    display: block;
    background-image: url(../img/badges-x2.png);
    background-repeat: no-repeat;
    background-size: 85px auto;
}
.badg.style2 {
    background-position: 0 -3px;
    height: 77px;
    width: 83px;
}
/*-------------- EndPageTemplates -------------*/




/*------------- scrollTop -----------------*/
.scrollTop {
    display:block;
    position:fixed;
    width:40px;
    height:33px;
    bottom:20px;
    right:3%;
    background-color: #64A9DD;
    z-index:2000;
}
.scrollTop i {
    font-size: 2em;
    color: #FFF;
}
.scrollTop:hover {
    background-color: #3B3B3B;
}
/*---------*/
.buy{

color: white !important;
}

  a.buy:hover{
    color: white !important;
    text-decoration: none !important;
}

/*------------------- JCropIMG -------------------*/
/* Apply these styles only when #preview-pane has
   been placed within the Jcrop widget */
.jcrop-holder #preview-pane {
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -159px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
}

/* Cоотношения сторон кадрирования
области на основе размер превью */
#preview-pane .preview-container {
  width: 250px;
  height: 250px;
  overflow: hidden;
}
#target {
	width: auto;
}
.process_one_photo {
    float: left;
    padding-bottom: 13px;
    position: relative;
    width: auto;
}
.col-md-10 {
    width: 85.333333%;
}
.jcrop-holder{
    background-color: transparent !important;
}