body {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	background-image: url(../img/texture.jpg);
	background-repeat:repeat;
	padding-top: 40px;
}
.navbar {
	height: 45px;
	min-height: 45px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 20px;
	padding: 10px;
	height: 30px;
}
.navbar-default .navbar-nav > li > a {
    color: #1C55A6;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	background-color: #246ED4;
	color: #fff;
}	
.navbar-nav > li > a {
	font-size: 1.5em;
	padding: 10px 12px 14px 12px;
	font-weight: 500;
}
.navbar-toggle {
    margin-bottom: 8px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 8px 10px;
}

#header {
	padding-top: 20px;
}
header .main {
	padding-top: 25px;
}
.main {
	background-color: #FFF;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.thumbnail {
	margin-bottom: 0;
}
.info {
	padding: 50px 5px 50px 5px;
	border-bottom: 1px solid #E0E0E0;
}
.infoMap {
	padding: 30px 5px 20px 5px;
	border-bottom: none;
}
.infoTop {
	font-size: 1em;
}
.infoTop i {
	color: #428BCA;
}
.socseti {
	margin-top: 20px;
}
.socseti span a img {
	margin: 7px 5px;
}
.socseti span a img:hover {
	opacity: 0.6;
}
.note {
    font-size: 1.825em;
	color: #428BCA;
}
/*--------- для изображений профиля -----------*/
.userPic {
	display: inline-block;
    width: 200px;
    height: 200px;
	overflow: hidden;
	margin: 0 auto;
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.userPic img {
	width: 200px;
}
/*---------------------------------------------*/
h1 {
	font-size: 3em;
	color: #333;
	margin-top: 7px;
}
h2 {
	font-size: 2em;
	color: #FFF;
	background-color: #246ED4;
	padding: 8px;
}
.info h2 i {
	font-size: 1em;
	margin: 0 8px 0 4px;
}
ol, ul {
	list-style: none;
}
p {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
	line-height: 130%;
	margin-bottom: 8px;
}
.profilHobby {
	font-size: 2em;
}
.kredo {
	margin-top: 20px;
}
.kredo em {
	font-size: 1.5em;
}
.title {
	border-left: 2px solid #CCC;
}
.title ul li {
	margin-top: 9px;
	margin-bottom: 7px;
	padding-bottom: 2px;
}
.control-label {
	font-size: 1.325em;
	cursor: pointer;
}
.progress {
    height: 15px;
	margin-bottom: 15px;
}


/*--------- PORTFOLIO ---------------*/
ul {
	 list-style-type: none;
}
.portfolioFilter {
    text-align: center;
    margin-bottom: 10px;
}

.portfolioFilter a { 
    margin-right: 10px; 
	color:#666;
	text-decoration:none;
	font-size: 16px;
}

.portfolioFilter a.current { 
    font-weight:bold;
	color: #3498DB; 
}
.portfolioContainer  a {      /*--------- Для hover внутри картинки ------------*/
    margin:5px;
}
.portfolioContainer li a {
	display: block;
	position: relative;
}
.portfolioContainer li a .overlay {
    position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	filter: alpha(opacity=0)
	-webkit-transition: all ease .5s;
	-moz-transition: all ease .5s;
	-ms-transition: all ease .5s;
	-o-transition: all ease .5s;
	transition: all ease .5s;
}
.portfolioContainer li a .overlay:hover {
    opacity: 1;
	filter: alpha(opacity=100);
}
.portfolioContainer li a .link-icon {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	margin-top: -15px;
	margin-left: -15px;
	transform: rotate(-360deg) scale(0);
	-webkit-transform: rotate(-90deg) scale(0);
	-webkit-transition: all cubic-bezier(0, 0.35, .5, 1.3) .4s;
	-moz-transition: all cubic-bezier(0, 0.35, .5, 1.3) .4s;
	-ms-transition: all cubic-bezier(0, 0.35, .5, 1.3) .4s;
	-o-transition: all cubic-bezier(0, 0.35, .5, 1.3) .4s;
	transition: all cubic-bezier(0, 0.35, .5, 1.3) .4s;
	opacity: 0;
	filter: alpha(opacity=0);
}
.portfolioContainer li a:hover .link-icon {
	opacity: 1;
	filter: alpha(opacity=100);
	transform: rotate(0deg) scale(1);
	-webkit-transform: rotate(0deg) scale(1);
}
.portfolioContainer li a .link-icon img {
	width: 100%;
	height: auto;
}

/*------------ BtnLike ---------------*/
.btnLike {  
    border: 1px solid #CCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
	margin-bottom: 1px;
	margin-left: 5px;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.42857;
    padding: 3px 6px 3px 6px;
    text-align: center;
	color: #fff;
	background-color: #246ed4;
}
.btn.btnLike:hover, .btn.btnLike:focus {
	background-color:  #246ed4;
	color: #fff;
	border: 1px solid #246ed4;
}
.btn.btnLike:active, .btn.btnLike.active {
    background-image: none;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.425) inset;
    border: 1px solid #246ed4;
}
.btnLike i {	
	font-size: 14px;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}
.btn.btnLike:hover i, .btn.btnLike:focus i {
	color: #fff;
}
/*------------ EndBtnLike ---------------*/

.btn:hover, .btn:focus {
	background-color: #246ED4;
	color: #FFF;
	border: 1px solid #246ED4;
}
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url(../img/fancybox_sprite.png);
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
	   only screen and (min--moz-device-pixel-ratio: 1.5),
	   only screen and (min-device-pixel-ratio: 1.5){

	#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
		background-image: url(../img/fancybox_sprite@2x.png);
		background-size: 44px 152px;
	}

	#fancybox-loading div {
		background-image: url(../img/fancybox_sprite.png);
		background-size: 24px 24px;
	}
}
/*--------- END PORTFOLIO ---------------*/

/*---------- MAP -------------*/
.mapArea {
    background: url("../img/map-bro.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
    height: 300px;
    margin: 0;
    overflow: hidden;
    padding-top: 4px;
    width: 100%;
}
.mapArea iframe {
    background: url("../images/map-bro.png") repeat-x scroll 0 100% rgba(0, 0, 0, 0);
    height: 296px;
    padding-bottom: 1px;
    width: 100%;
}
@media (max-width: 768px) {
	.mapArea {
    height: 300px;
	}
	.mapArea iframe {
		height: 296px;
	}
}
@media (max-width: 480px) {
	.mapArea {
    height: 250px;
	}
	.mapArea iframe {
		height: 246px;
	}
}
/*---------- EndMAP -------------*/

/*---------- ExitInSystem -------*/
.crossing {
    left: 0;
    position: fixed;
    top: 90px;
    z-index: 10;
}
.gear {
    background-color: #246ed4;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 30px;
    height: 45px;
    line-height: 1.4em;
    text-align: center;
    width: 50px;
}
/*---------- EndExitInSystem -------*/

.foot {
	margin-top: 10px;
	/*padding: 10px 0 2px 0;*/
	background-color: #246ED4;
}
.foot p, .foot a {
	color: #FFF;
	margin: 10px 0 10px 0;
}

@media (min-width: 1200px) and (max-width: 1690px) {
}
@media (min-width: 1024px) and (max-width: 1199px) {
	.socseti {
    margin-top: 0;
    }
}
@media (min-width: 980px) and (max-width: 1023px) {
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
    }
	.navbar-nav > li > a {
    padding: 11px 7px;
    }
	.socseti {
    margin-top: 0;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
	h2 {
		margin-bottom: 30px;
	}
	.info {
    padding: 35px 5px;
    }
	.infoTop {
		text-align: center;
		margin-top: 10px;
	}
	.infoMap {
		padding: 35px 5px;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	margin-left: 0;
    }
	.navbar-nav > li > a {
    padding: 12px 7px;
    }
	.title {
    border-left: 0 none;
    }
}
@media (min-width: 481px) and (max-width: 767px) {
	
}
@media (max-width: 768px) {	
    h2 {
		margin-bottom: 30px;
	}
	.info {
    padding: 35px 5px;
    }
	.infoTop {
		text-align: center;
		margin-top: 10px;
	}
    .nav {
	background-color: rgba(255, 255, 255, 0.9);
    }
	.navbar-nav > li > a {
    padding: 13px 7px 12px 7px;
    }
	.title {
    border-left: 0 none;
    }
	.portfolioContainer {
		padding-left: 10px;
	}
}
@media (max-width: 480px) {
	.portfolioContainer {
		padding-left: 0 auto;
	}
	.infoTop {
		text-align: center;
		margin-top: 10px;
	}
	.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
	   margin-left: 0;
    }
	.navbar-toggle {
       margin-right: 1px;
    }
}